<?xml version="1.0"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        cacheTokens="false"
        bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="true"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        strict="true"
        verbose="false">
        <testsuite name="Emarsys Integration Tests">
                <directory>.</directory>
        </testsuite>
        <php>
                <const name="EMARSYS_API_USERNAME" value="your_username"/>
                <const name="EMARSYS_API_SECRET" value="your_secret"/>
        </php>
</phpunit>
